
include src/hd2api/statics/effects/planetEffects.json
include src/hd2api/statics/planets/biomes.json
include src/hd2api/statics/planets/environmentals.json
include src/hd2api/statics/planets/planets.json
include src/hd2api/statics/planets/planetRegion.json
